{% include header.html %}
  {% include banner.html %}

  <div class="wrapper">
    {% include page-nav.html %}

  <section>
  	  <h2>Donate and support development</h2>

	  <p  style="text-align:center"><code>If you really like this app, you can donate and support development :)</code></p>

    <p>There is a few easy ways of support:</p>
     <ul>
	<li>Binance Pay with no fee</li>
	<li>ETH or BTC wallet</li>
	<li>Paypal</li>
     </ul>
	  
	  
<p><code>After donation I'll send you activation code to unlock extra features such as: Trailing Stop Loss, Dollar Cost Averaging, Telegram notification, Trade history export, and many more. Don't forget to add your email address to donate description!</code></p>

	  
<h2>Donate via Binance app </h2>
	  <p> Open the Binance app on your phone, and press this Icon at the top of the window.</p>
	  <img src="/assets/images/binance_donate.png" /></br>
	  <p>Scan below QR code and just sent couple of USD :) </p> 
	  <p><img src="/assets/images/BinancePayQR.png"></p></br>
	  
	  <p> If you want to use your PC, you can directly to go the <a target="blank" href="https://www.binance.com/en/my/wallet/account/payment/send">https://www.binance.com/en/my/wallet/account/payment/send</a></br>
	  and use my PAY ID: 73860889</p>

    
<h2>Donate via ETH wallet </h2>
<p>You can also make a transfer to my ETH wallet: 0x0dE6F523E706B46CfC23BE41E1DF699a75A372d9</p>


<h2>Donate via Paypal</h2>

<a href="https://www.paypal.com/donate/?business=BDH4WBG8H3BZ4&no_recurring=1&item_name=BinBOT+app+development&currency_code=USD"><img src="/assets/images/Paypal-Donate.png" /></a>
 
</br></br></br></br>


    
    
    
    
    
    
    
    
    
    


    </section>

	{{ content }}


	  
{% include footer.html %}
