{% include header.html %}
  {% include banner.html %}

  <div class="wrapper">
    {% include page-nav.html %}

  <section>
  	  <h2>Donate and support development</h2>

	  <p  style="text-align:center"><code>If you really like this app, you can donate and support development :)</code></p>

    <p>There is a few easy ways of support:</p>
     <ul>
	<li>binance Pay with no fee</li>
	<li>ETH or BTC wallet</li>
	<li>Paypal</li>
	<li>Trade history export</li>
	<li>and many more</li>
     </ul>

    
    
    
    
    
    
    
    
    
    
    
    
    
	  </br>
	<h2>Recent version</h2>	  
	  
<p><div class="highlight"><pre>
<span class="k">v. 0.8.1</span>
<span class="s1">+ added About
+ added log viever
+ improved loading time</span>

<span class="k">v.0.8.0 - first release of BinBOT with GUI</span>
<span class="s1">+ GUI
+ BUY logic
+ SELL logic by TP and SL
+ Indicators (EMA, SMA, SMA Cross, SMMA, SMMA Cross, MACD, Stoch, 
  Williams%R, RSI, Parabolic SAR)
+ Settings Menu
+ Strategy selection Menu
+ Coin selection Menu</span>
</pre></div>
</p>



    <h2>How to</h2>

<p>Dont know how to use the app? Check our <a href="/how-to.html">How To</a> section and start using the app.</p>
<p>You can also visit our <a href="">Youtube channel</a> ald watch tutorials in English and Polish Language</p>


    </section>

	{{ content }}


	  
{% include footer.html %}
