{% include header.html %}
  {% include banner.html %}

  <div class="wrapper">
    {% include page-nav.html %}

  <section>
  	  <h2>Donate and support development</h2>

	  <p  style="text-align:center"><code>If you really like this app, you can donate and support development :)</code></p>

    <p>There is a few easy ways of support:</p>
     <ul>
	<li>Binance Pay with no fee or Binance wallet address - <a target="blank" href="https://pay.binance.com/en/checkout/f90dc69c65854399b390157d47b398a6" ref="nofollow">click here</a></li>
	<li>Binance account registration via my referral link <a href="https://accounts.binance.com/en/register?ref=PIBRQJBC">https://accounts.binance.com/en/register?ref=PIBRQJBC</a></li>
     </ul>
	  
	  
<p><code>After donation or Binance account registration via my <a href="https://accounts.binance.com/en/register?ref=PIBRQJBC">link</a> I'll send you activation code to unlock extra features such as: Sell by strategy, Trailing Stop Loss, Dollar Cost Averaging, Telegram notification, Trade history export, and many more. Don't forget to add your email address to donate description!</code></p>
	  
<h2>Donate via Binance Pay</h2>
	  <p> Open Binance Pay link on your mobile on PC and make payment Directly from Binance Account - <a target="blank" href="https://pay.binance.com/en/checkout/f90dc69c65854399b390157d47b398a6" ref="nofollow">click here</a></p>

 
<h2>Donate via Paypal.com</h2>	  
	  	  <p> Open PayPal.com link on your mobile on PC and make payment Directly from PayPal - <a target="blank" href="https://www.paypal.com/donate/?hosted_button_id=26MQ93W5BPZEE" ref="nofollow">click here</a></p>
	  
	  
</br></br></br>


    
    
    
    
    
    
    
    
    
    


    </section>

	{{ content }}


	  
{% include footer.html %}
