{% include header.html %}
  {% include banner.html %}

  <div class="wrapper">
    {% include page-nav.html %}

  <section>
  	  <h2>FREE Download</h2>

   		<p>www.BinBOT.app domain is the only one official source of aplication. You can download it by clicking button below</p>
	  <p  style="text-align:center"><a target="blank" onClick="ga('send', 'event', 'DOWNLOAD', 'FILE');" href="https://1drv.ms/u/s!AvjreMwzf5lon8tB5AgUt8y4ILa04A?e=j4HnUv&filename=binbot.zip"><img src="/assets/images/download.png" /></a></p>
	  
	  <p  style="text-align:center; text-size:7px;"><a href="#"><img src="/assets/images/windows-store-download.png" / alt="Windows Store Download"></a></br>Download from Windows Store available soon...</p>
	  <p  style="text-align:center"><code>If you really like this app, please consider <a href="/donate.html">DONATION</a> and support development :)</code></p>

	  </br>
	<h2>Recent version</h2>	  
	  
<p><div class="highlight"><pre>
<span class="k">v.0.8.8</span>
<span class="s1">+ changes in DCA (signal check before execute DCA)
+ added Panic RED button</span>


<span class="k">v. 0.8.7</span>
<span class="s1">+ see Sold orders in separate window
+ popup notification for failed sell orders
+ rebranding to BinBOT.app</span>

<span class="k">v. 0.8.6</span>
<span class="s1">+ added manual buy
+ performance improvements for sold item tab</span>

<span class="k">v. 0.8.5</span>
<span class="s1">+ added label for sold items
+ added API Key checker
+ added API Time checker
+ added export sold orders to csv
+ added ask before close the app
+ added winn/loss ratio
+ added version checker
+ fix for DCA</span>


<span class="k">v. 0.8.4</span>
<span class="s1">+ added Telegram notification
+ added DCA feature (Dollar Cost Averaging)</span>

<span class="k">v. 0.8.3</span>
<span class="s1">+ added Windows Notification for Windows 10 and 11
+ added TLS feature (Trailing stop loss)</span>

<span class="k">v. 0.8.1</span>
<span class="s1">+ added About
+ added log viever
+ improved loading time</span>

<span class="k">v.0.8.0 - first release of BinBOT with GUI</span>
<span class="s1">+ GUI
+ BUY logic
+ SELL logic by TP and SL
+ Indicators (EMA, SMA, SMA Cross, SMMA, SMMA Cross, MACD, Stoch, 
  Williams%R, RSI, Parabolic SAR)
+ Settings Menu
+ Strategy selection Menu
+ Coin selection Menu</span>
</pre></div>
</p>



    <h2>How to</h2>

<p>Dont know how to use the app? Check our <a href="/how-to.html">How To</a> section and start using the app.</p>
<p>You can also visit our <a href="">Youtube channel</a> ald watch tutorials in English and Polish Language</p>


    </section>

	{{ content }}


	  
{% include footer.html %}
