{% include header.html %}
  {% include banner.html %}

  <div class="wrapper">
    {% include page-nav.html %}

  <section>
    <h2>Welcome to BinBOT</h2>
	  <p><code>FREE Binance trading BOT app</code></>
    <p>Welcome to the official BinBOT site! Here you can find all information about new releases, take one copy for you and get some knowledge about how to use the bot.</p>
	<p>
	BinBOT is free to use, you can trade crypto on Binance exchange for free, and if you appreciate by job, you can donate and unlock some extra features like</p>
	<ul>
	<li>Trailing Stop Loss</li>
	<li>Dollar Cost Averaging</li>
	<li>Telegram notification</li>
	<li>Trade history export</li>
	<li>and many more</li>
	</ul>
    <p><iframe width="560" height="315" src="https://www.youtube.com/embed/zJXA1d20V4c" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>



  	  <h2>FREE Download</h2>

   		<p>www.BinBOT.app domain is the only one official source of aplication. You can download it by clicking button below</p>
	  <p><a href="/download.html"><img src="/assets/images/download.png" /></a></p>

	  </br>
	<h2>Recent version</h2>	  
	  
<p><div class="highlight"><pre>
<span class="k">v. 0.8.1</span>
<span class="s1">+ added About
+ added log viever
+ improved loading time</span>

<span class="k">v.0.8.0 - first release of BinBOT with GUI</span>
<span class="s1">+ GUI
+ BUY logic
+ SELL logic by TP and SL
+ Indicators (EMA, SMA, SMA Cross, SMMA, SMMA Cross, MACD, Stoch, 
  Williams%R, RSI, Parabolic SAR)
+ Settings</span>
</pre></div>
</p>



    <h2>How to</h2>

<p>Dont know how to use the app? Check our <a href="/how-to.html">How To</a> section and start using the app.</p>
<p>You can also visit our <a href="">Youtube channel</a> ald watch tutorials in English and Polish Language</p>


    </section>

	{{ content }}


	  
{% include footer.html %}
