{% include header.html %}
  {% include banner.html %}

  <div class="wrapper">
    {% include page-nav.html %}

  <section>
  	  <h2>FREE Download</h2>

   		<p>www.BinBOT.app domain is the only one official source of aplication. You can download it by clicking button below</p>
	  <p  style="text-align:center"><a href="/download.html"><img src="/assets/images/download.png" /></a></p>
	  <p  style="text-align:center">If you really like this app, please consider DONATION and support development</p>

	  </br>
	<h2>Recent version</h2>	  
	  
<p><div class="highlight"><pre>
<span class="k">v. 0.8.1</span>
<span class="s1">+ added About
+ added log viever
+ improved loading time</span>

<span class="k">v.0.8.0 - first release of BinBOT with GUI</span>
<span class="s1">+ GUI
+ BUY logic
+ SELL logic by TP and SL
+ Indicators (EMA, SMA, SMA Cross, SMMA, SMMA Cross, MACD, Stoch, 
  Williams%R, RSI, Parabolic SAR)
+ Settings Menu
+ Strategy selection Menu
+ Coin selection Menu</span>
</pre></div>
</p>



    <h2>How to</h2>

<p>Dont know how to use the app? Check our <a href="/how-to.html">How To</a> section and start using the app.</p>
<p>You can also visit our <a href="">Youtube channel</a> ald watch tutorials in English and Polish Language</p>


    </section>

	{{ content }}


	  
{% include footer.html %}
