{% include header.html %}
  {% include banner.html %}

  <div class="wrapper">
    {% include page-nav.html %}

  <section>
        <h2>How to</h2>
    <p>You can also visit our <a href="">Youtube channel</a> ald watch tutorials in English and Polish Language</p>
    
    <h3>BinBOT introduction</h3>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/zJXA1d20V4c" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    
    
    <h3>BinBOT - app configuration and API settings</h3>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/zJXA1d20V4c" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    
    
    <h3>BinBOT - strategy management</h3>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/zJXA1d20V4c" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    
    
  	  <h2>FREE Download</h2>

   		<p>www.BinBOT.app domain is the only one official source of aplication. You can download it by clicking button below</p>
	  <p  style="text-align:center"><a href="/download.html"><img src="/assets/images/download.png" /></a></p>
	  <p  style="text-align:center"><code>If you really like this app, please consider <a href="/donate.html">DONATION</a> and support development :)</code></p>

	  </br>
	<h2>Recent version</h2>	  
	  
<p><div class="highlight"><pre>
<span class="k">v. 0.8.1</span>
<span class="s1">+ added About
+ added log viever
+ improved loading time</span>

<span class="k">v.0.8.0 - first release of BinBOT with GUI</span>
<span class="s1">+ GUI
+ BUY logic
+ SELL logic by TP and SL
+ Indicators (EMA, SMA, SMA Cross, SMMA, SMMA Cross, MACD, Stoch, 
  Williams%R, RSI, Parabolic SAR)
+ Settings Menu
+ Strategy selection Menu
+ Coin selection Menu</span>
</pre></div>
</p>






    </section>

	{{ content }}


	  
{% include footer.html %}
