{% include header.html %}
  {% include banner.html %}

  <div class="wrapper">
    {% include page-nav.html %}

  <section>
  	  <h2>Paper trading in BinBOT.app</h2>
	  <p>As per Microsoft Store requirements we've added Paper trading to BinBOT.app</p>
	  <p>Paper trading allows you to simulate trading with virtual money. Using virtual trading you can check settings and strategy before trading with real money.</p>
	  <p>Fully functional version can be obtained from our website <a href="https://www.binbot.app/download.html">https://www.binbot.app/download.html</a></p>
	  <p>In the video below, you can see how paper trading is workinng in BinBOT.app:</p>
	  
	  <iframe width="560" height="315" src="https://www.youtube.com/embed/0z-W7dRf9DY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	  
			


    </section>

	{{ content }}


	  
{% include footer.html %}
