{% include header.html %}
  {% include banner.html %}

  <div class="wrapper">
    {% include page-nav.html %}

  <section>
    <p>In this article you can find couple of usefull strategies that can be implemented into BinBOT app. We are not creator of this strategies, we are giving them as an example of possible solution</p>
  	  <h3>Scalping strategies</h3>
	  <p>EMA Cross + MACD</p>
	  <iframe width="560" height="315" src="https://www.youtube.com/embed/eHObwB44zUA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	  </br>
	  <img src="/assets/images/emacrossmacd1.png" />
	  
	  
	  
    

   		
    </section>

	{{ content }}

<!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container">
  <div id="tradingview_79a70"></div>
  <div class="tradingview-widget-copyright"><a href="https://pl.tradingview.com/symbols/USDPLN/?exchange=FX_IDC" rel="noopener" target="_blank"><span class="blue-text">USDPLN wykres</span></a> od TradingView</div>
  <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
  <script type="text/javascript">
  new TradingView.widget(
  {
  "autosize": true,
  "symbol": "FX_IDC:USDPLN",
  "interval": "D",
  "timezone": "Etc/UTC",
  "theme": "light",
  "style": "1",
  "locale": "pl",
  "toolbar_bg": "#f1f3f6",
  "enable_publishing": false,
  "allow_symbol_change": true,
  "container_id": "tradingview_79a70"
}
  );
  </script>
</div>
<!-- TradingView Widget END -->
	  
{% include footer.html %}

