{% include header.html %}
  {% include banner.html %}

  <div class="wrapper">
    {% include page-nav.html %}

  <section>
    <p>In this article you can find couple of usefull strategies that can be implemented into BinBOT app. We are not creator of this strategies, we are giving them as an example of possible solution</p>
  	  <h3>Scalping strategies</h3>
	  <p>EMA Cross + MACD</p>
	  <iframe width="560" height="315" src="https://www.youtube.com/embed/eHObwB44zUA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	  </br>
	  <img src="/assets/images/emacrossmacd1.png" />
	  
	  
	 
    

   		
    </section>

	{{ content }}


	  
{% include footer.html %}

