By using the app, you are accepting terms and conditions:
+------------------------------------------------+
|  RESPONSIBILITY & RISK                         |
+------------------------------------------------+
1! App is for the people over 18, you are playing with real money and you can both: take profit or lose your money.
2! Use the app only if you understand what you are doing and you understand all the risks of trading cryptocurrencies. You warrant that you understand the price volatility in the cryptocurrency market and the potential loss.
3! Me as a BinBOT developer and Binance and any other third party will NOT TAKE responsibility on your profit or loss.
4! You are aware of the risks related with the use of BinBOT, risk of possible errors and assume full responsibility for these risks.
5! Last but not least, I'm not providing any investments advices. If you need one, please go to the professional financial advisor.
