{% include header.html %}
  {% include banner.html %}

  <div class="wrapper">
    {% include page-nav.html %}

  <section>
        <h2>Extra features</h2>
    <p>By donating you can ext BinBOT extra features like:
	  <ul>
	<li>Trailing Stop Loss</li>
	<li>Dollar Cost Averaging</li>
	<li>Telegram notification</li>
	<li>Trade history export</li>
	<li>and many more</li>
	</ul></p>
	  
<p>In donation description please provide email address, and activation code will be send directly to your email.</p>
	  
	  <p><code>You can make donation <a href="/donate.html">HERE</a></code></p>
    
 
</br></br></br>

    </section>

	{{ content }}


	  
{% include footer.html %}
